In [1]:
import pandas as pd

In [3]:
aptitude = pd.read_excel('aptitude_data.xlsx')

In [4]:
aptitude.head()

,Accounts,Business studies,Economics,Mathematics,English,Computer science,Physics,Chemistry,Biology,History,...,event manager.1,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,streams
0,10.00000,10.00000,40.00000,50.00000,50.000000,50.000000,0.000000,0.000000,0.000000,70.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
1,10.01002,10.01002,40.01002,50.02004,50.050100,50.050100,0.001002,0.002004,0.002004,70.03006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
2,10.02004,10.02004,40.02004,50.04008,50.100200,50.100200,0.002004,0.004008,0.004008,70.06012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
3,10.03006,10.03006,40.03006,50.06012,50.150301,50.150301,0.003006,0.006012,0.006012,70.09018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
4,10.04008,10.04008,40.04008,50.08016,50.200401,50.200401,0.004008,0.008016,0.008016,70.12024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts

In [5]:
aptitude[['Accounts','streams']][:501]

     Accounts streams
0    10.00000    arts
1    10.01002    arts
2    10.02004    arts
3    10.03006    arts
4    10.04008    arts
..        ...     ...
496  14.96994    arts
497  14.97996    arts
498  14.98998    arts
499  15.00000    arts
500  15.01002    arts

[501 rows x 2 columns]

In [22]:
import numpy as np


# ARTS
acc =np.linspace(10,20,999)
aptitude['Accounts'][:999]=acc
aptitude.head(999)

bus =np.linspace(10,20,999)
aptitude['Business studies'][:999]=bus
aptitude.head(999)

eco =np.linspace(40,50,999)
aptitude['Economics'][:999]=eco
aptitude.head(999)

math =np.linspace(50,70,999)
aptitude['Mathematics'][:999]=math
aptitude.head(999)

eng =np.linspace(50,100,999)
aptitude['English'][:999]=eng
aptitude.head(999)

cs =np.linspace(50,100,999)
aptitude['Computer science'][:999]=cs
aptitude.head(999)

phy =np.linspace(0,1,999)
aptitude['Physics'][:999]=phy
aptitude.head(999)

chem =np.linspace(0,2,999)
aptitude['Chemistry'][:999]=chem
aptitude.head(999)

bio =np.linspace(0,2,999)
aptitude['Biology'][:999]=bio
aptitude.head(999)

his =np.linspace(70,100,999)
aptitude['History'][:999]=his
aptitude.head(999)

geo =np.linspace(70,100,999)
aptitude['Geography'][:999]=geo
aptitude.head(999)

ps =np.linspace(50,100,999)
aptitude['Political science'][:999]=ps
aptitude.head(999)

oe =np.linspace(0,80,999)
aptitude['observation/experiment'][:999]=oe
aptitude.head(999)

spo =np.linspace(0,100,999)
aptitude['sports'][:999]=spo
aptitude.head(999)

sh =np.linspace(1,4,999)
aptitude['study hours'][:999]=sh
aptitude.head(999)

<ipython-input-22-7d3c070f5f72>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Accounts'][:999]=acc
<ipython-input-22-7d3c070f5f72>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Business studies'][:999]=bus
<ipython-input-22-7d3c070f5f72>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Economics'][:999]=eco
<ipython-input-22-7d3c070f5f72>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Mathematics'][:999]=math
<ipython-input-22-7d3c070f5f72>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['English'][:999]=eng
<ipython-input-22-7d3c070f5f72>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Computer science'][:999]=cs
<ipython-input-22-7d3c070f5f72>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Physics'][:999]=phy
<ipython-input-22-7d3c070f5f72>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Chemistry'][:999]=chem
<ipython-input-22-7d3c070f5f72>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Biology'][:999]=bio
<ipython-input-22-7d3c070f5f72>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['History'][:999]=his
<ipython-input-22-7d3c070f5f72>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Geography'][:999]=geo
<ipython-input-22-7d3c070f5f72>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Political science'][:999]=ps
<ipython-input-22-7d3c070f5f72>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['observation/experiment'][:999]=oe
<ipython-input-22-7d3c070f5f72>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['sports'][:999]=spo
<ipython-input-22-7d3c070f5f72>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['study hours'][:999]=sh

,Accounts,Business studies,Economics,Mathematics,English,Computer science,Physics,Chemistry,Biology,History,...,event manager.1,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,streams
0,10.00000,10.00000,40.00000,50.00000,50.000000,50.000000,0.000000,0.000000,0.000000,70.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
1,10.01002,10.01002,40.01002,50.02004,50.050100,50.050100,0.001002,0.002004,0.002004,70.03006,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
2,10.02004,10.02004,40.02004,50.04008,50.100200,50.100200,0.002004,0.004008,0.004008,70.06012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
3,10.03006,10.03006,40.03006,50.06012,50.150301,50.150301,0.003006,0.006012,0.006012,70.09018,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
4,10.04008,10.04008,40.04008,50.08016,50.200401,50.200401,0.004008,0.008016,0.008016,70.12024,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,19.95992,19.95992,49.95992,69.91984,99.799599,99.799599,0.995992,1.991984,1.991984,99.87976,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
995,19.96994,19.96994,49.96994,69.93988,99.849699,99.849699,0.996994,1.993988,1.993988,99.90982,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
996,19.97996,19.97996,49.97996,69.95992,99.899800,99.899800,0.997996,1.995992,1.995992,99.93988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
997,19.98998,19.98998,49.98998,69.97996,99.949900,99.949900,0.998998,1.997996,1.997996,99.96994,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts
998,20.00000,20.00000,50.00000,70.00000,100.000000,100.000000,1.000000,2.000000,2.000000,100.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,arts

In [15]:
aptitude['streams'][999:1999]

999     commerce
1000    commerce
1001    commerce
1002    commerce
1003    commerce
          ...
1994    commerce
1995    commerce
1996    commerce
1997    commerce
1998    commerce
Name: streams, Length: 1000, dtype: object

In [23]:
import numpy as np


# commerce
acc =np.linspace(80,100,1000)
aptitude['Accounts'][999:1999]=acc
aptitude[999:1999]

bus =np.linspace(80,100,1000)
aptitude['Business studies'][999:1999]=bus
aptitude[999:1999]

eco =np.linspace(50,100,1000)
aptitude['Economics'][999:1999]=eco
aptitude[999:1999]

math =np.linspace(50,80,1000)
aptitude['Mathematics'][999:1999]=math
aptitude[999:1999]

eng =np.linspace(50,100,1000)
aptitude['English'][999:1999]=eng
aptitude[999:1999]

cs =np.linspace(20,100,1000)
aptitude['Computer science'][999:1999]=cs
aptitude[999:1999]

phy =np.linspace(0,20,1000)
aptitude['Physics'][999:1999]=phy
aptitude[999:1999]

chem =np.linspace(0,20,1000)
aptitude['Chemistry'][999:1999]=chem
aptitude[999:1999]

bio =np.linspace(0,20,1000)
aptitude['Biology'][999:1999]=bio
aptitude[999:1999]

his =np.linspace(0,50,1000)
aptitude['History'][999:1999]=his
aptitude[999:1999]

geo =np.linspace(0,20,1000)
aptitude['Geography'][999:1999]=geo
aptitude[999:1999]

ps =np.linspace(0,40,1000)
aptitude['Political science'][999:1999]=ps
aptitude[999:1999]

oe =np.linspace(0,80,1000)
aptitude['observation/experiment'][999:1999]=oe
aptitude[999:1999]

spo =np.linspace(0,100,1000)
aptitude['sports'][999:1999]=spo
aptitude[999:1999]

sh =np.linspace(3,5,1000)
aptitude['study hours'][999:1999]=sh
aptitude[999:1999]

<ipython-input-23-73831a7dd202>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Accounts'][999:1999]=acc
<ipython-input-23-73831a7dd202>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Business studies'][999:1999]=bus
<ipython-input-23-73831a7dd202>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Economics'][999:1999]=eco
<ipython-input-23-73831a7dd202>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Mathematics'][999:1999]=math
<ipython-input-23-73831a7dd202>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['English'][999:1999]=eng
<ipython-input-23-73831a7dd202>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Computer science'][999:1999]=cs
<ipython-input-23-73831a7dd202>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Physics'][999:1999]=phy
<ipython-input-23-73831a7dd202>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Chemistry'][999:1999]=chem
<ipython-input-23-73831a7dd202>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Biology'][999:1999]=bio
<ipython-input-23-73831a7dd202>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['History'][999:1999]=his
<ipython-input-23-73831a7dd202>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Geography'][999:1999]=geo
<ipython-input-23-73831a7dd202>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Political science'][999:1999]=ps
<ipython-input-23-73831a7dd202>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['observation/experiment'][999:1999]=oe
<ipython-input-23-73831a7dd202>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['sports'][999:1999]=spo
<ipython-input-23-73831a7dd202>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['study hours'][999:1999]=sh

,Accounts,Business studies,Economics,Mathematics,English,Computer science,Physics,Chemistry,Biology,History,...,event manager.1,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,streams
999,80.00000,80.00000,50.00000,50.00000,50.00000,20.00000,0.00000,0.00000,0.00000,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
1000,80.02002,80.02002,50.05005,50.03003,50.05005,20.08008,0.02002,0.02002,0.02002,0.05005,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
1001,80.04004,80.04004,50.10010,50.06006,50.10010,20.16016,0.04004,0.04004,0.04004,0.10010,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
1002,80.06006,80.06006,50.15015,50.09009,50.15015,20.24024,0.06006,0.06006,0.06006,0.15015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
1003,80.08008,80.08008,50.20020,50.12012,50.20020,20.32032,0.08008,0.08008,0.08008,0.20020,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1994,99.91992,99.91992,99.79980,79.87988,99.79980,99.67968,19.91992,19.91992,19.91992,49.79980,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
1995,99.93994,99.93994,99.84985,79.90991,99.84985,99.75976,19.93994,19.93994,19.93994,49.84985,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
1996,99.95996,99.95996,99.89990,79.93994,99.89990,99.83984,19.95996,19.95996,19.95996,49.89990,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
1997,99.97998,99.97998,99.94995,79.96997,99.94995,99.91992,19.97998,19.97998,19.97998,49.94995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce
1998,100.00000,100.00000,100.00000,80.00000,100.00000,100.00000,20.00000,20.00000,20.00000,50.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,commerce

In [17]:
aptitude['streams'][1999:3000]

1999        medical
2000        medical
2001        medical
2002        medical
2003        medical
           ...
2995        medical
2996        medical
2997        medical
2998        medical
2999    non medical
Name: streams, Length: 1001, dtype: object

In [24]:
import numpy as np


# medical
acc =np.linspace(0,20,1001)
aptitude['Accounts'][1999:3000]=acc
aptitude[1999:3000]

bus =np.linspace(0,20,1001)
aptitude['Business studies'][1999:3000]=bus
aptitude[1999:3000]

eco =np.linspace(0,10,1001)
aptitude['Economics'][1999:3000]=eco
aptitude[1999:3000]

math =np.linspace(0,30,1001)
aptitude['Mathematics'][1999:3000]=math
aptitude[1999:3000]

eng =np.linspace(0,100,1001)
aptitude['English'][1999:3000]=eng
aptitude[1999:3000]

cs =np.linspace(20,50,1001)
aptitude['Computer science'][1999:3000]=cs
aptitude[1999:3000]

phy =np.linspace(80,100,1001)
aptitude['Physics'][1999:3000]=phy
aptitude[1999:3000]

chem =np.linspace(80,100,1001)
aptitude['Chemistry'][1999:3000]=chem
aptitude[1999:3000]

bio =np.linspace(90,100,1001)
aptitude['Biology'][1999:3000]=bio
aptitude[1999:3000]

his =np.linspace(0,20,1001)
aptitude['History'][1999:3000]=his
aptitude[1999:3000]

geo =np.linspace(0,20,1001)
aptitude['Geography'][1999:3000]=geo
aptitude[1999:3000]

ps =np.linspace(0,30,1001)
aptitude['Political science'][1999:3000]=ps
aptitude[1999:3000]

oe =np.linspace(50,100,1001)
aptitude['observation/experiment'][1999:3000]=oe
aptitude[1999:3000]

spo =np.linspace(0,90,1001)
aptitude['sports'][1999:3000]=spo
aptitude[1999:3000]

sh =np.linspace(6,18,1001)
aptitude['study hours'][1999:3000]=sh
aptitude[1999:3000]

<ipython-input-24-eb3d7583500a>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Accounts'][1999:3000]=acc
<ipython-input-24-eb3d7583500a>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Business studies'][1999:3000]=bus
<ipython-input-24-eb3d7583500a>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Economics'][1999:3000]=eco
<ipython-input-24-eb3d7583500a>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Mathematics'][1999:3000]=math
<ipython-input-24-eb3d7583500a>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['English'][1999:3000]=eng
<ipython-input-24-eb3d7583500a>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Computer science'][1999:3000]=cs
<ipython-input-24-eb3d7583500a>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Physics'][1999:3000]=phy
<ipython-input-24-eb3d7583500a>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Chemistry'][1999:3000]=chem
<ipython-input-24-eb3d7583500a>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Biology'][1999:3000]=bio
<ipython-input-24-eb3d7583500a>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['History'][1999:3000]=his
<ipython-input-24-eb3d7583500a>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Geography'][1999:3000]=geo
<ipython-input-24-eb3d7583500a>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Political science'][1999:3000]=ps
<ipython-input-24-eb3d7583500a>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['observation/experiment'][1999:3000]=oe
<ipython-input-24-eb3d7583500a>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['sports'][1999:3000]=spo
<ipython-input-24-eb3d7583500a>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['study hours'][1999:3000]=sh

,Accounts,Business studies,Economics,Mathematics,English,Computer science,Physics,Chemistry,Biology,History,...,event manager.1,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,streams
1999,0.00,0.00,0.00,0.00,0.0,20.00,80.00,80.00,90.00,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
2000,0.02,0.02,0.01,0.03,0.1,20.03,80.02,80.02,90.01,0.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
2001,0.04,0.04,0.02,0.06,0.2,20.06,80.04,80.04,90.02,0.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
2002,0.06,0.06,0.03,0.09,0.3,20.09,80.06,80.06,90.03,0.06,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
2003,0.08,0.08,0.04,0.12,0.4,20.12,80.08,80.08,90.04,0.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,19.92,19.92,9.96,29.88,99.6,49.88,99.92,99.92,99.96,19.92,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
2996,19.94,19.94,9.97,29.91,99.7,49.91,99.94,99.94,99.97,19.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
2997,19.96,19.96,9.98,29.94,99.8,49.94,99.96,99.96,99.98,19.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
2998,19.98,19.98,9.99,29.97,99.9,49.97,99.98,99.98,99.99,19.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,medical
2999,20.00,20.00,10.00,30.00,100.0,50.00,100.00,100.00,100.00,20.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical

In [25]:

aptitude['streams'][3000:]

3000    non medical
3001    non medical
3002    non medical
3003    non medical
3004    non medical
           ...
3994    non medical
3995    non medical
3996    non medical
3997    non medical
3998    non medical
Name: streams, Length: 999, dtype: object

In [26]:
import numpy as np


# non medical
acc =np.linspace(0,40,999)
aptitude['Accounts'][3000:]=acc
aptitude[3000:]

bus =np.linspace(0,20,999)
aptitude['Business studies'][3000:]=bus
aptitude[3000:]

eco =np.linspace(80,100,999)
aptitude['Economics'][3000:]=eco
aptitude[3000:]

math =np.linspace(70,100,999)
aptitude['Mathematics'][3000:]=math
aptitude[3000:]

eng =np.linspace(0,100,999)
aptitude['English'][3000:]=eng
aptitude[3000:]

cs =np.linspace(50,100,999)
aptitude['Computer science'][3000:]=cs
aptitude[3000:]

phy =np.linspace(80,100,999)
aptitude['Physics'][3000:]=phy
aptitude[3000:]

chem =np.linspace(80,100,999)
aptitude['Chemistry'][3000:]=chem
aptitude[3000:]

bio =np.linspace(0,30,999)
aptitude['Biology'][3000:]=bio
aptitude[3000:]

his =np.linspace(0,20,999)
aptitude['History'][3000:]=his
aptitude[3000:]

geo =np.linspace(0,20,999)
aptitude['Geography'][3000:]=geo
aptitude[3000:]

ps =np.linspace(0,30,999)
aptitude['Political science'][3000:]=ps
aptitude[3000:]

oe =np.linspace(50,100,999)
aptitude['observation/experiment'][3000:]=oe
aptitude[3000:]

spo =np.linspace(0,100,999)
aptitude['sports'][3000:]=spo
aptitude[3000:]

sh =np.linspace(7,18,999)
aptitude['study hours'][3000:]=sh
aptitude[3000:]

<ipython-input-26-b9247931b304>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Accounts'][3000:]=acc
<ipython-input-26-b9247931b304>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Business studies'][3000:]=bus
<ipython-input-26-b9247931b304>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Economics'][3000:]=eco
<ipython-input-26-b9247931b304>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Mathematics'][3000:]=math
<ipython-input-26-b9247931b304>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['English'][3000:]=eng
<ipython-input-26-b9247931b304>:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Computer science'][3000:]=cs
<ipython-input-26-b9247931b304>:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Physics'][3000:]=phy
<ipython-input-26-b9247931b304>:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Chemistry'][3000:]=chem
<ipython-input-26-b9247931b304>:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Biology'][3000:]=bio
<ipython-input-26-b9247931b304>:42: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['History'][3000:]=his
<ipython-input-26-b9247931b304>:46: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Geography'][3000:]=geo
<ipython-input-26-b9247931b304>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['Political science'][3000:]=ps
<ipython-input-26-b9247931b304>:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['observation/experiment'][3000:]=oe
<ipython-input-26-b9247931b304>:58: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['sports'][3000:]=spo
<ipython-input-26-b9247931b304>:62: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aptitude['study hours'][3000:]=sh

,Accounts,Business studies,Economics,Mathematics,English,Computer science,Physics,Chemistry,Biology,History,...,event manager.1,Unnamed: 43,Unnamed: 44,Unnamed: 45,Unnamed: 46,Unnamed: 47,Unnamed: 48,Unnamed: 49,Unnamed: 50,streams
3000,0.000000,0.00000,80.00000,70.00000,0.000000,50.000000,80.00000,80.00000,0.00000,0.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
3001,0.040080,0.02004,80.02004,70.03006,0.100200,50.050100,80.02004,80.02004,0.03006,0.02004,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
3002,0.080160,0.04008,80.04008,70.06012,0.200401,50.100200,80.04008,80.04008,0.06012,0.04008,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
3003,0.120240,0.06012,80.06012,70.09018,0.300601,50.150301,80.06012,80.06012,0.09018,0.06012,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
3004,0.160321,0.08016,80.08016,70.12024,0.400802,50.200401,80.08016,80.08016,0.12024,0.08016,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3994,39.839679,19.91984,99.91984,99.87976,99.599198,99.799599,99.91984,99.91984,29.87976,19.91984,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
3995,39.879760,19.93988,99.93988,99.90982,99.699399,99.849699,99.93988,99.93988,29.90982,19.93988,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
3996,39.919840,19.95992,99.95992,99.93988,99.799599,99.899800,99.95992,99.95992,29.93988,19.95992,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
3997,39.959920,19.97996,99.97996,99.96994,99.899800,99.949900,99.97996,99.97996,29.96994,19.97996,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical
3998,40.000000,20.00000,100.00000,100.00000,100.000000,100.000000,100.00000,100.00000,30.00000,20.00000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,non medical

In [28]:
aptitude.to_excel('aptitude_file.xlsx')